#! /bin/sh
# config script for pnp4nagios-web
#
# see: dh_installdebconf(1)

set -e

# summary of how this script can be called:
#        * <preconfigure> `configure' <installed-version>
#        * <postinst> `configure' <old-version>
#        * <reconfigure> `reconfigure' <installed-version>

. /usr/share/debconf/confmodule

case "$1" in
	configure|reconfigure)
		default_servers=""
		if test -d /etc/apache2/conf.d; then
			default_servers="apache2"
		fi

		db_fget pnp4nagios-web/httpd seen
		if [ "$RET" = "false" ]; then
			db_set pnp4nagios-web/httpd "$default_servers"
		fi

		db_input medium pnp4nagios-web/httpd || true
		db_go || true
		;;

	*)
		echo "config called with unknown argument \`$1'" >&2
		exit 1
		;;
esac

db_stop

exit 0

